.image-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* просто затемнение */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    max-width: 70vw;
    max-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 60vh;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.close-button {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 32px;
    height: 32px;
    background: white;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

