.collection-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
}

.collection-card-left, .collection-card-right {
  width: 45%;
  overflow-y: auto;
}

.collection-card-left {
  flex: 0.45;
}

.collection-title {
  font-size: 1.5rem;
  font-weight: lighter;

  color: #b22222;
}

.collection-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.collection-routes {
  list-style: none;
  padding: 0;
  margin: 0;
}

.collection-route-item {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.route-index {
  font-weight: bold;
}

.collection-card-right {
  flex: 0.45;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.collection-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.collection-routes-count,
.collection-average-rating {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.collection-images {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.collection-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.no-images-placeholder {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.collection-card-icons {
  padding-top: 5px;
  width: 10px;
  flex: 0.1;
  overflow-y: auto;
}

.author-image {
  padding-right: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.favorite-button:hover {
  background-color: #f0f0f0;
}

