.collection-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 5px;
  max-width: 100%;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.collection-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.collection-name {
  font-size: 1.5em;
  color: #8B0000;
}

.collection-author-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #bbbbbb;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  right: 0;
}

.author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-card-body {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.collection-card-left {
  width: 45%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
}

.collection-description {
  color: #333;
  font-size: 0.95em;
  margin-bottom: 25px;
}

.collection-route-meta {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;
  font-weight: bold;
  margin-bottom: 0px;
}

.collection-card-right {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  width: 55%;
  max-width: 80%;
}

.collection-card-images-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 0%;
}

.collection-card-images {
  display: flex;
  transition: transform 0.3s ease;
  gap: 15px;
}

.no-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: #f0f0f0;
  color: #aaa;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.collection-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tag {
  background-color: #771a12;
  color: #fff;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 0.85em;
  font-weight: 500;
}
