.collection-card {
  background: white;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  height: 240px; /* Увеличиваем общую высоту карточки */
  display: flex;
  flex-direction: column;
}

.collection-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  position: relative;
}

.coll-name {
  font-size: 1.5em;
  color: #8B0000;
  font-weight: bold;
}

.collection-author {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #bbbbbb;
  background-color: #838383;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.collection-content-left {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 40%;
  height: 100%;
}

.collection-description {
  color: #333;
  font-size: 0.95em;
  height: 50%;
  overflow: hidden;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.4em;
  max-height: 4.2em; /* line-height * 3 строки */
}

/* Показываем градиент и многоточие только если текст обрезается */
.collection-description:has(+ .collection-description::before) {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1.4em;
  background: linear-gradient(to bottom, transparent, white);
}

.collection-description::after {
  content: "";  /* По умолчанию пустой контент */
}

/* Добавляем многоточие только если высота контента больше max-height */
.collection-description:not(:-webkit-any(:hover, :focus)):has(+ .collection-description::before)::after {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}

.coll-route-name {
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
}

.collection-route-1, .collection-route-2 {
  max-height: 45px;
  font-size: 1.5em;
  color: #8B0000;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-length {
  text-align: left;
}

.route-time {
  text-align: center;
}

.route-rate {
  text-align: right;
}

/*
.collection-header h2 {
  color: #B22222;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-content {
  padding: 10px 20px;
  flex: 1;
}

.collection-content p {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
} */ 
