.route-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 5px;
  max-width: 100%;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.route-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.route-name {
  font-size: 1.5em;
  color: #8B0000;
}

.route-author-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #bbbbbb;
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  right: 0;
}

.author-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Центральная часть карточки, левый и правый блоки */
.route-card-body {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.route-card-left {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.route-description {
  color: #333;
  font-size: 0.95em;
}

.route-card-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: auto;
  font-weight: bold;
  margin-bottom: 0px;
}

.route-card-right {
  flex: 0 0 55%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.route-card-images {
  display: flex;
  margin-left: 30px;
  max-width: calc(100% - 30px);
  gap: 5px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
}

.route-image {
  width: 130px;
  max-width: 130px;
  height: 130px;
  max-height: 130px;
  border-radius: 5px;
  object-fit: cover;
  border: 1px solid #ccc;
  flex-shrink: 0;
}

.route-card-images-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.route-card-images {
  display: flex;
  transition: transform 0.3s ease;
  gap: 5px;
}

.no-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: #f0f0f0;
  color: #aaa;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.route-card-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 25px);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  pointer-events: none;
}

.arrow-button {
  width: 20px;
  height: 15px;
  padding-bottom: 5px;
  margin-bottom: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #444444;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}

.arrow-button.left {
  margin-left: 0px;
}

.arrow-button.right {
  bottom: 15px;
  /* right: calc(100%-15px); */
  margin-left: auto;
}

.arrow-button:hover {
  color: #8B0000;
}

.favorite-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-button img {
  width: 20px;
  height: 20px;
}

.favorite-button:hover {
  background-color: #e7e7e7;
}
