.route-page {
  font-family: sans-serif;
  padding: 0 10px;
}

.route-card-container {
  background-color: #fff;
  border-radius: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin-top: 10px;
  max-width: 100%;
}

.route-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.route-name {
  font-weight: normal;
  font-size: 1.5em;
  color: #8B0000;
  margin: 0;
}

.route-author {
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: italic;
}

.author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.route-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.tag-placeholder {
  color: #999;
  font-style: italic;
}

.tag {
  background-color: #771a12;
  color: #fff;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 0.85em;
  font-weight: 500;
}

.route-meta {
  width: 60%;
  display: flex;
  font-size: larger;
  gap: 10px;
  align-items: flex-end;
  font-weight: bold;
  color: #8B0000;
  margin-bottom: 10px;
}

.route-info-layout {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 20px 0;
  flex-wrap: wrap;
  min-width: 500px;
  width: 100%;
}

.route-stats-block {
  flex: 1;
  min-width: 200px;
}

.stat-row {
  display: flex;
  gap: 6px;
  white-space: nowrap;
}

.stat-label {
  font-weight: bold;
}

.description-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.route-description-block {
  flex: 1;
  min-width: 300px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.route-description {
  line-height:1.3;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 10px 0;
}

.route-images {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.route-image {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 6px;
}

.points-title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.route-points {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}

.point-card {
  padding: 10px;
  min-width: 100px;
  width: 200px;
  text-align: center;
  background-color: #0000000b;
  border-radius: 6px;
}

.point-card img {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 4px;
}

.point-image {
  width: 100px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .route-info-layout {
    flex-direction: column;
  }

  .route-stats-block, .route-description-block {
    flex: 1 1 100%;
  }
}
