.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #b6b6b6;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 85px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.logo {
  font-size: calc(85px * 0.5);
  font-weight: bold;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 45px;
}

.avatar-placeholder, .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  cursor: pointer;
}

.avatar-placeholder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.divider {
  width: 100%;
  height: 0.735%;
  background-color: #b22222;
}

.content {
  display: flex;
  height: 100%;
}

.left-panel,
.right-panel {
  flex: 1;
  height: 100%;
}

.left-panel {
  flex: 1;
  overflow-y: auto; /* Vertical scroll*/
  padding: 20px 35px;
  background-color: #f0f0f0;
}

.button-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.type-button-container, .sort-filter-container {
  display: flex;
  gap: 3px;
}

.type-button-container {
  justify-content: start;
}

.sort-filter-container {
  justify-content: flex-end;
}

.right-panel {
  flex: 1;
  background-color: #e0e0e0;
  height: 100%;
}

@media (max-width: 768px) {
  .right-panel {
    display: none;
  }

  .left-panel {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px 35px 0px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}