

.button-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
}

.type-button-container, .sort-filter-container {
  display: flex;
  gap: 3px;
}

.type-button-container {
  justify-content: start;
}

.sort-filter-container {
  justify-content: flex-end;
}

.right-panel {
  flex: 1;
  background-color: #e0e0e0;
  height: 100%;
}

.route-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

@media (max-width: 768px) {
  .right-panel {
    display: none;
  }

  .left-panel {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px 35px 0px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}