.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

.content {
  display: flex;
  width: 100%;
  height: 100vh; 
}

.left-panel, .right-panel {
  width: 50%;
  overflow-y: auto;
}

.left-panel {
  background-color: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
}

.right-panel {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  width: 100%; 
  height: 100%;
  border-radius: 10px;
}

.button-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}

.type-button-container, .sort-filter-container {
  display: flex;
  gap: 3px;
}

.type-button-container {
  justify-content: start;
}

.sort-filter-container {
  justify-content: flex-end;
}

.route-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .right-panel {
    display: none;
  }

  .left-panel {
    width: 100%; 
    padding: 20px 35px 0px 45px;
  }
}
