/* components/Search_Bar/SearchBar.css */
.search-bar {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.search-input {
  width: 100%;
  padding: 10px 15px 10px 40px; /* Отступ справа и слева для иконки */
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #000000; /* Цвет границы при фокусе */
}

.search-icon {
  position: absolute;
  left: 10px; /* Иконка слева */
  top: 50%;
  transform: translateY(-50%); /* Центрирование по вертикали */
  width: 18px; /* Размер иконки */
  height: 18px;
  background-size: contain; 
  background-repeat: no-repeat;
  background-image: url('../../images/loupe.svg'); /* Путь к иконке */
  cursor: pointer;
}

.search-bar:hover .search-input {
  border-color: #000000; /* Цвет при наведении */
}
