.button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button.white {
  background-color: white;
  color: black;
  border-color: black;
}

.button.black {
  background-color: black;
  color: white;
}

.button.white:hover {
  background-color: #f0f0f0;
}

.button.black:hover {
  background-color: #333;
}
