.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
}

.divider {
  width: 100%;
  height: 3px;
  background-color: #b22222;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 500px;
  height: 60px; 
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../images/33routes_logo.svg'); 
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-placeholder {
  width: 50px;
  height: 50px;
  background-color: #cccccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.avatar-placeholder, .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  cursor: pointer;
}

.avatar-placeholder img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
